body {
 font-family: 'Montserrat', sans-serif;
}

.main-quote {
	width: 600px;
	margin: 0px auto;
	margin-top: 20%;
}

.main-quote-title {
	font-family: 'Merriweather', serif;
}

/*font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif;*/


